* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  padding: 0 70px;
  z-index: 10;
}

.topnav a {
  float: right;
  display: block;
  color: #535353;
  text-align: center;
  margin: 15px 20px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}

.topnav .menu {
  margin-top: 23px;
}

.topnav .menu:hover {
  border-bottom: 1px solid #000;
}

.topnav .logo_image:hover {
  background-color: #fff;
  color: black;
  border-bottom: 0;
}

.topnav .menu.active {
  border-bottom: 1px solid #000;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 927px) {
  .topnav .menu {
    display: none;
  }

  .topnav .shoping_bag{
      display: block;
  }

  .topnav a.icon {
    float: left;
    display: block;
    margin-top: 20px;
  }
  .topnav {
    padding: 0 0;
  }
  .topnav .logo {
    position: absolute;
    top: 0;
    left: 20px;
  }
  .navlinks {
    width: 175px;
    float: right;
  }
}

@media screen and (max-width: 927px) {
  .topnav.responsive {
    position: fixed;
  }
  .topnav.responsive .icon {
    display: block;
    left: 0;
    margin-top: 20px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav .menu .active {
    border-bottom: none;
  }
}

.topnav.scrolled {
  background-color: #fff !important;
  box-shadow: 0 0 5px 0 grey;
  transition: background-color 0.2s linear , box-shadow 0.2s linear;
}

.topnav .logo {
  float: left;
  transform: scale(0.7);
}

#shop_together {
  background: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-A0xnbgZ4WxTJlN3R.jpg);
  height: 680px;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop_summary{
    width: 31%;
    transform: translate(30%,300px);
}

.shop_summary h2{
    font-family: 'Roboto Serif' , serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 40px;
}

.shop_summary p{
    margin-bottom: 40px;
    font-size: 17px;
    color: #535353;
}

.shop_summary button{
    background-color: #2E2E2E;
    color: #fff;
    width: 180px;
    height: 50px;
    transition: background-color 0.5s;
    border: 0;
}

.shop_summary button:hover{
    background-color: #646464;
    cursor: pointer;
}

.text{
    margin: 0 auto;
    text-align: center;
    width: 550px;
}

.text h2{
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 40px;
    font-family: 'Roboto serif' , serif;
    font-weight: 400;
    color: #2E2E2E;
}

.text p{
    color: #646464;
    font-size: 16px;
}

.explore_cards{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.explore_card{
    width: 400px;
    height: 500px;
    margin-top: 50px;
}

.explore_card img{
    width: 100%;
}

.explore_card button{
    background-color: #2E2E2E;
    color:#fff;
    height: 50px;
    width: 200px;
    margin-left: 100px;
    position: relative;
    top: -30px;
    border: 0;
    transition: background-color 0.5s;
}

.explore_card button:hover{
    cursor: pointer;
    background-color: #535353;
}

@media screen and (max-width:600px) {
    .shop_summary{
        width: 90%;
        transform: translate(10%,300px);
    }
}

#our_story{
    display: flex;
    -webkit-flex-flow:row wrap;
}

.our_summary{
    width: 450px;
    margin-top: 200px;
    margin-left: 16%;
}

.our_summary h5{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #646464;
}

.our_summary h2{
    font-size: 42px;
    font-weight: 400;
    font-family: 'Roboto serif' , serif;
    margin-bottom: 40px;
    color: #2E2E2E;
}

.our_summary p{
    font-size: 17px;
    font-weight: 300;
    color: #535353;
    margin-bottom: 50px;
}

.our_summary button{
    background-color: #2E2E2E;
    color: #fff;
    width: 170px;
    height: 50px;
}

.our_image{
    margin: 150px auto;
    width: 400px;
    height: 500px;
}

.our_image img{
    width: 100%;
}

@media screen and (max-width:1012px) {
    .our_summary{
        width: 100%;
        margin-left: 20px;
    }
    .our_image{
        margin: 50px auto;
        width: 400px;
        height: 500px;
    }
}

.gallery_text h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto serif' , serif;
    font-weight: 500;
}

.gallery_cards{
    margin: 50px 150px 0 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.gallery_card{
    width: 300px;
    height: 400px;
}

.gallery_card img{
    width:300px;
}

#gallery .gallery_button{
    margin: 20px auto;
    width: 200px;
}

.gallery_btn{
    width: 100%;
}

#gallery .gallery_button button{
    margin: 0 auto;
    background-color: #2E2E2E;
    color:#fff;
    width: 200px;
    height: 50px;
    border: 0;
    transition: background-color 0.5s;
}

#gallery .gallery_button button:hover{
    background-color: #535353;
    cursor: pointer;
}

footer{
    background-color: #2E2E2E;
    display: flex;
    color: #fff;
    flex-flow: row wrap;
}

footer a{
    color:#fff
}

.footer_left{
    width: 50%;
}

.footer_items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px 150px;
    text-align: center;
}

.footer_items h2{
    font-family: 'Roboto Serif' , serif;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer_items p{
    font-weight: 300;
    margin-bottom: 10px;
}

.footer_rigth table{
    margin: 40px 150px;
}

.footer_rigth table h2{
    font-family: 'Roboto serif' , serif;
    font-weight: 300;
    font-size: 30px;
}

.footer_rigth table input{
    width: 400px;
    height: 50px;
    background-color: #A5A7A9;
    border: 0;
    outline: 0;
    padding: 0 10px;
    font-size: 16px;
}

.footer_rigth table button{
    width: 150px;
    height: 50px;
    background-color: #fff;
    margin-top: 20px;
    border: 0;
    outline: 0;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
    transition: background-color 0.5s;
}

.footer_rigth table button:hover{
    cursor: pointer;
    background-color: #A5A7A9;
}

.links{
    margin: 0 195px;
}

.footer_item{
    width: 150px;
}

@media screen  and (max-width:1403px){
    .footer_rigth table{
        margin: 40px aauto;
    }
    .footer_rigth{
        width: 100%;
    }
    .footer_left{
        width: 100%;
    }
}

@media screen and (max-width:573px) {
    .footer_rigth table input{
        width: 200px;
        height: 50px;
    }
    .text{
        width: 250px;
    }
}